// .javascript {
//   display: flex;
//   flex-direction: column;
// }

// .javascript-editor {

//   &__content {
//     position: relative;
//     min-height: max(100%, 300px);
//     background-color: var(--bg-secondary-dark);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;

//     .monaco-editor {
//       position: absolute;
//       padding: 10px 0px;
//       min-height: 100%;
//       width: 100%;
//       box-sizing: border-box;
//     }

//     .loader {
//       display: block;
//       position: absolute;
//       margin: auto;
//       font-size: 50px;
//       color: var(--color-light-contrast);
//     }

//     .icon-button {
//       position: absolute;
//       top: 0;
//       right: 0;
//       margin: 5px;

//       &__icon-custom {
//         position: absolute;
//         transform: translate(-50%, -50%);
//         opacity: 0;

//         transition: opacity 80ms ease-in;
//       }

//       &__icon--visible {
//         opacity: 1;
//         transition: opacity 80ms ease-out 100ms;
//       }
//     }

//   }

//   label {
//     display: block;
//     padding: 10px 0px;
//   }
// }

// .grid-editor {
//   border: 1px solid var(--border-primary);
//   border-radius: var(--base-radius);
//   overflow: hidden;
// }

.js-section {
  height: calc(100vh - 60px);
  background-color: var(--bg-primary);

  &__editor {
    background-color: var(--bg-secondary-dark);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.loader {
  display: block;
  position: absolute;
  margin: auto;
  font-size: 50px;
  color: var(--color-light-contrast);
}

.monaco-editor {
  padding: 10px 0px;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.html-viewer {
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 10px 0px;
  height: 100%;
}


::ng-deep .as-split-gutter-icon {
  background-color: rgb(51, 51, 51);
}