<wdk-toolbar>
  <wdk-icon-button color="tertiary" slot="action" (click)="goBack()">
    <i class="fa-solid fa-close"></i>
  </wdk-icon-button>

  <wdk-icon-button slot="options" (click)="play()">
    <i class="fa-solid fa-play"></i>
  </wdk-icon-button>
</wdk-toolbar>

<section class="js-section">
  <as-split direction="horizontal" #split>
    <as-split-area [size]="70" [minSize]="10" >
      <div class="js-section__editor">
        @if (loading) {
          <span class="loader"><i class="fa-solid fa-code fa-bounce"></i></span>
        }
        <ngx-monaco-editor
          class="monaco-editor"
          [options]="editorOptions"
          [(ngModel)]="code"
          (ngModelChange)="executeCode()"
          (onInit)="onMonacoEditorInit($event)"
        ></ngx-monaco-editor>
      </div>
    </as-split-area>
    <as-split-area [size]="30" [minSize]="20">
      <div class="html-viewer" [innerHTML]="outputHTML"></div>
    </as-split-area>
  </as-split>
</section>