.javascript {
  display: flex;
  flex-direction: column;
}

.javascript-editor {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;

    .icon-button {
      &__icon {
        position: absolute;
        transform: translate(-50%, -50%);
        opacity: 0;

        transition: opacity 80ms ease-in;
      }

      &__icon--visible {
        opacity: 1;
        transition: opacity 80ms ease-out 100ms;
      }
    }
  }

  &__content {
    position: relative;
    min-height: max(100%, 300px);
    background-color: var(--bg-secondary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .monaco-editor {
      position: absolute;
      padding: 10px 0px;
      min-height: 100%;
      width: 100%;
      box-sizing: border-box;
    }

    .loader {
      display: block;
      position: absolute;
      margin: auto;
      font-size: 50px;
      color: var(--color-light-contrast);
    }

    .icon-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;

      &__icon-custom {
        position: absolute;
        transform: translate(-50%, -50%);
        opacity: 0;
    
        transition: opacity 80ms ease-in;
      }
    
      &__icon--visible {
        opacity: 1;
        transition: opacity 80ms ease-out 100ms;
      }
    }
    
  }

  label {
    display: block;
    padding: 10px 0px;
  }
}

.javascript--console {
  margin-top: 30px;
  min-height: max(100%, 100px);

  label {
    display: block;
    padding: 10px 0px;
  }
}

.grid-editor {
  height: 100%;
  max-height: 700px;
  border: 1px solid var(--border-primary);
  border-radius: var(--base-radius);
  overflow: hidden;
}

@media (height > 1000px) {
  .grid-editor {
    max-height: 800px;
  }
}

@media (height > 1200px) {
  .grid-editor {
    max-height: 1000px;
  }
}

@media (height > 1500px) {
  .grid-editor {
    max-height: 1200px;
  }
}
