.wdk-color-picker {
  display: block;
  cursor: crosshair;
  border-radius: var(--base-radius);
}

.wdk-base-color-picker{
  display: block;
  cursor: crosshair;
  border-radius: var(--base-radius);
}