<label [for]="id" class="label-container" [ngClass]="label ? '': 'label-container--hidden'">{{ label }}</label>
<div class="input-container">
  <input
    class="input-container__area input"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInputChange($event)"
    [readOnly]="readonly"
  />

  @if(icon){
  <div class="input-container__icon-container">
    <span>
      <i [ngClass]="icon"></i>
    </span>
  </div>
  }
  <!---->
  @if(clipboard){
  <button class="input-container__button icon-button" (click)="copyClipboard()">
    <i
      class="icon-button__icon-custom fa-regular fa-clipboard"
      [class.icon-button__icon--visible]="!animationRunning"
    ></i>
    <i
      class="icon-button__icon-custom fa-solid fa-check"
      [class.icon-button__icon--visible]="animationRunning"
    ></i>
  </button>
  }
</div>
