<label [for]="id" class="label-container">{{ label }}</label>
<div class="input-container">
    <input [id]="id" class="input-container__area input" [placeholder]="placeholder" [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)" [readOnly]="readonly" />
    <button class="input-container__button icon-button" (click)="copyClipboard()">
        <fa-icon [icon]="iconClip" class="icon-button__icon-custom"
            [class.icon-button__icon--visible]="!animationRunning"></fa-icon>
        <fa-icon [icon]="iconCheck" class="icon-button__icon-custom"
            [class.icon-button__icon--visible]="animationRunning"></fa-icon>
    </button>
</div>