.label-container {
  display: block;
  margin: 10px 0px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__button {
    position: absolute;
    right: 0;
    margin: 5px;
  }

  &__icon-container {
    position: absolute;
    right: 0;
    margin: 5px;

    span {
      color: var(--text-primary);
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 5px;
      height: 50px;
      width: 50px;
    }
  }

  &__area {
    padding: 10px;
    padding-right: 55px;

    outline: none;
    font-family: inherit;
    width: 100%;
    height: 60px;
    border-radius: var(--base-radius);
    resize: none;
    box-sizing: border-box;
    border: solid 1px var(--border-primary);

    transition-property: background-color, border;
    transition-duration: 100ms;
    transition-timing-function: ease-in;

    color: var(--text-primary);

    &:focus-visible {
      border: solid 1px var(--border-primary-focus);
    }

    &:hover {
      background-color: var(--bg-secondary-light);
    }

    &:read-only {
      background-color: var(--bg-secondary-dark);
    }
  }
}

.icon-button {
  &__icon-custom {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: opacity 80ms ease-in;
  }

  &__icon--visible {
    opacity: 1;
    transition: opacity 80ms ease-out 100ms;
  }
}

.input-container__area[readonly] + .input-container__button:hover {
  background-color: lightgray;
}
