<section>
  <h2>Regex Tester</h2>

  <wdk-input
    [formControl]="regex"
    placeholder="Ingrese expresión regular"
    (ngModelChange)="setRegex()"
  />

  <h2>Pruebas</h2>

  <section class="regex-tests">
    @for (item of regexTests; track $index) {
      <div class="regex-tests__test">
        <wdk-input [formControl]="item" (ngModelChange)="setTests()" />

        <wdk-icon-button (click)="removeTest($index)">
          <i class="fa-solid fa-trash"></i>
        </wdk-icon-button>
      </div>
    }
  </section>
  <button (click)="addTest()" class="regex-button" type="button">
    <i class="fa-solid fa-plus"></i>
    <span>Añadir prueba</span>
  </button>
</section>
