/* Solid button */
.flat-button {
  background-color: var(--base-color);
  color: var(--text-primary);
  border: none;
  border-radius: var(--base-radius);
  min-width: 200px;
  height: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;

  transition: transform 100ms ease-in, background-color 100ms ease-in,
    border 100ms ease-in;

  &:hover {
    cursor: pointer;
    background-color: var(--base-color-light);
  }

  &:active {
    transform: scale(0.98);
  }
}

.flat-button--full {
  width: 100%;
}

/* Modifier: button--color-primary */
.flat-button--primary {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);

  &:hover {
    background-color: var(--primary-color-light);
  }
}

/* Modifier: button--color-secondary */
// .button--secondary {
//   background: var(--secondary-color);

//   &:hover {
//     background: var(--secondary-color-light);
//   }
// }

/* Icon button */
.icon-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;

  height: 50px;
  width: 50px;

  color: var(--text-primary);

  transition: transform 100ms ease-in, background-color 100ms ease-in,
    border 100ms ease-in;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-secondary-light);
  }

  &:active {
    transform: scale(0.95);
  }

  &--darkhover:hover {
    background-color: lightgray;
  }

  &--light {
    color: var(--color-light);
  }

  &--light:hover {
    background-color: var(--color-light-contrast);
  }

  &--small {
    font-size: 0.9em;
    height: 40px;
    width: 40px;
  }
}
