.label-container {
  display: block;
  margin: 10px 0px;
}

.textarea-container {
  position: relative;

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }

  &__area {
    padding: 10px;
    padding-right: 55px;
  }
}

.icon-button {
  &__icon-custom {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: opacity 80ms ease-in;
  }

  &__icon--visible {
    opacity: 1;
    transition: opacity 80ms ease-out 100ms;
  }
}
