.label-container {
  display: block;
  margin: 10px 0px;

  &--hidden {
    display: none;
  }
}

.textarea-container {
  position: relative;
  height: calc(100% - 42px);

  &__buttons {
    width: 100%;
    height: min-content;
    background-color: var(--bg-secondary-dark);
    text-align: end;
    border: 1px solid var(--border-primary);
    border-top-left-radius: var(--base-radius);
    border-top-right-radius: var(--base-radius);
    box-sizing: border-box;
  }

  &__area {
    padding: 10px;
    height: 100%;
  }
}

.icon-button {
  &__icon-custom {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: opacity 80ms ease-in;
  }

  &__icon--visible {
    opacity: 1;
    transition: opacity 80ms ease-out 100ms;
  }
}
