<div class="input-container">
  <input
    id="search"
    class="input-container__input input"
    [(ngModel)]="search"
    (ngModelChange)="filter()"
  />
  <span class="input-container__icon">
    <i class="fa-solid fa-magnifying-glass"></i>
  </span>
</div>
<section class="tools-container" [@filterAnimation]="filterItems.length">
  @for (tool of filterItems; track $index) {
  <article
    class="tool-card"
    (click)="navigate(tool.link)"
  >
    <div class="tool-card__icon">
      <i [ngClass]="tool.faIcon"></i>
    </div>
    <h3 class="tool-card__title">{{ tool.title }}</h3>
    <p class="tool-card__description">{{ tool.description }}</p>
  </article>
  }
</section>
