<nav class="nav">
  <div class="nav__header">
    <wdk-icon-button (click)="goBack()" color="tertiary">
      <i class="fa-solid fa-close"></i>
    </wdk-icon-button>
    <span class="nav__title"> <wdk-logo /></span>
  </div>

  <wdk-icon-button (click)="generateFile()" color="tertiary">
    <i class="fa-solid fa-file-arrow-down"></i>
  </wdk-icon-button>
</nav>

<section class="md-section">
  <as-split direction="horizontal">
    <as-split-area [size]="50" [minSize]="10">
      <div class="md-section__editor">
        @if (loading) {
          <span class="loader"><i class="fa-solid fa-code fa-bounce"></i></span>
        }
        <ngx-monaco-editor
          class="monaco-editor"
          [(ngModel)]="code"
          [options]="editorOptions"
          (ngModelChange)="save()"
        ></ngx-monaco-editor>
      </div>
    </as-split-area>
    <as-split-area [size]="50" [minSize]="20">
      <markdown class="markdown" [data]="code" emoji> </markdown>
    </as-split-area>
  </as-split>
</section>
