.md-section {
  height: calc(100vh - 60px);
  background-color: var(--bg-primary);
}

.monaco-editor {
  padding: 10px 0px;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.markdown {
  padding: 0px 15px;
  box-sizing: border-box;
  display: block;
}

.nav {
  background-color: var(--bg-secondary);
  height: 60px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid var(--border-primary);
  align-items: center;
  justify-content: space-between;
  
  &__title{
    padding: 0px 10px;
  }
}
