<nav class="nav">
  <div>
    <button class="icon-button" (click)="goBack()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="nav__title"> Web Dev Kits</span>
  </div>

  <button class="icon-button" (click)="generateFile()">
    <i class="fa-solid fa-file-arrow-down"></i>
  </button>
</nav>

<section class="md-section">
  <as-split direction="horizontal">
    <as-split-area [size]="50" [minSize]="10">
      <div class="md-section__editor">
        @if(loading){
        <span class="loader"><i class="fa-solid fa-code fa-bounce"></i></span>
        }
        <ngx-monaco-editor
          class="monaco-editor"
          [(ngModel)]="code"
          [options]="editorOptions"
          (ngModelChange)="save()"
        ></ngx-monaco-editor>
      </div>
    </as-split-area>
    <as-split-area [size]="50" [minSize]="20">
      <markdown class="markdown" [data]="code" emoji> </markdown>
    </as-split-area>
  </as-split>
</section>
