<section>
  <h2>Generador de HASH</h2>

  <div class="form-control">
    <wdk-copy-textarea
      [id]="'hashText'"
      [label]="'Entrada'"
      [placeholder]="'Entrada'"
      [(ngModel)]="hashText"
      (ngModelChange)="encode()"
    />
  </div>

  <div class="form-control">
    <wdk-copy-input
      [id]="'md5'"
      [label]="'MD5'"
      [placeholder]="'MD5'"
      [(ngModel)]="md5text"
      [readonly]="true"
    />
  </div>

  <div class="form-control">
    <wdk-copy-input
      [id]="'sha1'"
      [label]="'SHA1'"
      [placeholder]="'SHA1'"
      [(ngModel)]="sha1text"
      [readonly]="true"
    />
  </div>

  <div class="form-control">
    <wdk-copy-input
      [id]="'sha256'"
      [label]="'SHA256'"
      [placeholder]="'SHA256'"
      [(ngModel)]="sha256text"
      [readonly]="true"
    />
  </div>

  <div class="form-control">
    <wdk-copy-input
      [id]="'sha512'"
      [label]="'SHA512'"
      [placeholder]="'SHA512'"
      [(ngModel)]="sha512text"
      [readonly]="true"
    />
  </div>
</section>
