/*
Button
*/
button {
  background: var(--base-color);
  border: none;
  border-radius: var(--base-radius);
  padding: 20px 100px;

  transition-property: transform, background;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

button:hover {
  cursor: pointer;
  background: var(--base-color-light);
}

button:active {
  transform: scale(0.98);
}

button[full] {
  width: 100%;
}

button[color="primary"] {
  background: var(--primary-color);
  color: var(--primary-color-contrast);
}

button[color="primary"]:hover {
  background: var(--primary-color-light);
}

button[color="secondary"] {
  background: var(--secondary-color);
}

button[color="secondary"]:hover {
  background: var(--secondary-color-light);
}
