<section>
  <h2>Codificar / Decodificar texto en Base64</h2>

  <div class="form-control">
    <wdk-copy-textarea
      [id]="'base64decode'"
      [label]="'Codificar'"
      [placeholder]="'Ingresa el texto a codificar'"
      [(ngModel)]="decodeText"
      (ngModelChange)="encode()"
    />
  </div>

  <div class="form-control">
    <wdk-copy-textarea
      [id]="'base64encode'"
      [label]="'Decodificar'"
      [placeholder]="'Ingresa el texto a decodificar'"
      [(ngModel)]="encodeText"
      (ngModelChange)="decode()"
    />
  </div>
</section>
