<section>
    <h2>Codificar / Decodificar texto en base64</h2>

    <div class="form-control">
        <custom-textarea [id]="'base64decode'" [label]="'Codificar'" [placeholder]="'Ingresa el texto a codificar'"
            [(ngModel)]="decodeText" />

        <button type="button" class="button button--primary" (click)="encode()">Codificar</button>
    </div>

    <div class="form-control">
        <custom-textarea [id]="'base64encode'" [label]="'Decodificar'" [placeholder]="'Ingresa el texto a decodificar'"
            [(ngModel)]="encodeText" />

        <button type="button" class="button button--primary" (click)="decode()">Decodificar</button>
    </div>
</section>